# Data
data/
**/data/

# Virtual environments
venv/
.venv/
env/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Checkpoints / weights
*.pth
*.pt
outputs/

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
